<h1>id: <%= @tasks.id %> のタスク詳細ページ</h1>
<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-xs-12">
  </div>
<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @tasks.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @tasks.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @tasks.content %></td>
  </tr>
</table>

<%= link_to 'このタスクを編集する', edit_task_path(@tasks), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>

</div>
